{
    "id": "slgsdhj-ssdhgsfh-sfherhhfgh",
    "title": "Book 1",
    "authors": [
        {
            "id": "lsjdglsjd-esljg-sdglsergj",
            "name": "Author 1"
        },
        {
            "id": "lsjdglsjd-esljg-sdgsdsrgs",
            "name": "Author 2"
        }
    ]
}